:root {
	/* Colors */
	--clr-primary: hsl(257, 40%, 49%);
	--clr-accent: hsl(300, 69%, 71%);
	--clr-white: hsl(0, 0%, 100%);

	/* Font family */
	--ff-primary: 'Open Sans', sans-serif;
	--ff-heading: 'Poppins', sans-serif;
}

body {
	font-size: 16px;
	padding: 33px 35px;
	text-align: center;
	color: var(--clr-white);
	background-repeat: no-repeat;
	font-family: var(--ff-primary);
	background-color: var(--clr-primary);
	background-image: url('./images/bg-mobile.svg');
}

.logo {
	height: 32px;
}

.illustration {
	margin-block: 60px;
	padding-inline: 2px;
}

.title {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.45;
	letter-spacing: -0.2px;
	font-family: var(--ff-heading);
}

.description {
	margin-block: 16px;
}

.button {
	border: none;
	font-size: 12px;
	margin-top: 8px;
	cursor: pointer;
	padding: 11px 76px;
	border-radius: 80px;
	transition: all .2s;
	letter-spacing: -0.2px;
	color: var(--clr-primary);
	font-family: var(--ff-heading);
	background-color: var(--clr-white);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

.button:hover {
	color: var(--clr-white);
	background-color: var(--clr-accent);
}

.links {
	gap: 12px;
	display: flex;
	margin-top: 64px;
	justify-content: center;
}

.links a {
	padding: 8px;
	border-radius: 100%;
	border: 1px solid var(--clr-white);
}

.links .logo {
	height: 12px;
	aspect-ratio: 1;
}

.links a:hover {
	border-color: var(--clr-accent);
}

@media screen and (min-width: 768px) {
	body {
		margin: auto;
		display: flex;
		max-width: 1440px;
		min-height: 100dvh;
		padding: 54px 70px;
		align-items: center;
		justify-content: center;
		background-image: url('./images/bg-desktop.svg');
	}

	.logo {
		height: 53px;
	}

	.section {
		gap: 52px;
		display: flex;
		margin-top: 85px;
		margin-bottom: 0;
	}

	.illustration {
		margin-block: 0;
	}

	.content {
		margin-top: 44px;
		text-align: left;
	}

	.title {
		font-size: 40px;
		line-height: 1.5;
	}

	.description {
		font-size: 18px;
		line-height: 1.5;
		margin: 20px 18px 0 0;
	}

	.button {
		font-size: 18px;
		margin-top: 24px;
		padding: 15px 64px;
		box-shadow: 0px 2px 20px rgba(0, 0, 0, .4);
	}

	.links {
		gap: 16px;
		margin-top: 22px;
		margin-right: 10px;
		justify-content: right;
	}

	.links a {
		padding: 10px;
	}

	.links .logo {
		height: 18px;
	}
}
